@import url("https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap");

* {
  font-family: "Nanum Pen Script", cursive;
  font-size: 1.1rem;
}

.DiaryEditor {
  padding: 0 0 2.5rem 0;
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.DiaryEditor h2 {
  font-size: 1.6rem;
}

.DiaryEditor input,
textarea {
  margin-bottom: 1.25rem;
  width: 31.25rem;
  padding: 0.625rem;
}

.DiaryEditor textarea {
  resize: none;
  height: 9.375rem;
}

.DiaryEditor select {
  width: 18.75rem;
  padding: 0.625rem;
  margin-bottom: 1.25rem;
}

.DiaryEditor button {
  width: 31.25rem;
  padding: 0.625rem;
  cursor: pointer;
}

.DiaryEditor button:hover {
  background-color: black;
  color: white;
}

/* List */

.DiaryList {
  border: 1px solid grey;
  padding: 1.25rem;
  margin-top: 9.375rem;
}

.DiaryList h2 {
  font-size: 1.4rem;
  text-align: center;
}

.DiaryList ul {
  list-style: none;
  padding-left: 0;
}

.DiaryItem {
  background-color: rgb(240, 240, 240);
  margin-bottom: 0.625rem;
  padding: 1.25rem;
}

.DiaryItem:hover {
  background-color: white;
}

.DiaryItem .info {
  border-bottom: 1px solid gray;
  padding-bottom: 0.625rem;
}

.DiaryItem .content {
  margin: 1.438rem 0;
}
